(() => {
    const el = document.querySelector({{jsStr .Selector}});
    if (!el) return false;
    if (el.type !== 'checkbox' && el.type !== 'radio') return false;
    if (!el.checked) {
        el.checked = true;
        el.dispatchEvent(new Event('change', { bubbles: true }));
    }
    return true;
})()
