(() => {
    const blob = new Blob([{{jsStr .Content}}], { type: {{jsStr .MimeType}} });
    const url = URL.createObjectURL(blob);
    const a = document.createElement('a');
    a.href = url;
    a.download = {{jsStr .Filename}};
    document.body.appendChild(a);
    a.click();
    document.body.removeChild(a);
    URL.revokeObjectURL(url);
})()
