(() => {
    const host = document.querySelector({{jsStr .Host}});
    if (!host || !host.shadowRoot) return null;
    const el = host.shadowRoot.querySelector({{jsStr .Shadow}});
    if (!el) return null;
    if ('disabled' in el) {
        return !el.disabled;
    }
    return el.getAttribute('aria-disabled') !== 'true';
})()
