(() => {
    const host = document.querySelector({{jsStr .Host}});
    if (!host || !host.shadowRoot) return null;
    const el = host.shadowRoot.querySelector({{jsStr .Shadow}});
    if (!el) return null;
    const attrs = {};
    for (const attr of el.attributes) {
        attrs[attr.name] = attr.value;
    }
    return attrs;
})()
