(() => {
    const host = document.querySelector({{jsStr .Host}});
    if (!host || !host.shadowRoot) return '';
    const el = host.shadowRoot.querySelector({{jsStr .Shadow}});
    if (!el) return '';
    return el.outerHTML;
})()
