(() => {
    const el = document.querySelector({{jsStr .Selector}});
    if (!el) return false;
    if (el.type !== 'checkbox') return false;
    if (el.checked) {
        el.checked = false;
        el.dispatchEvent(new Event('change', { bubbles: true }));
    }
    return true;
})()
