# Piko framework temporary directories
.piko/
.out/
dist/embed/
dist/embed_gen.go

# Live-reloading tool (Air) temporary files
tmp/
air.log

# Go build output
bin/

# IDE-specific
.idea/
.vscode/

# OS-specific
.DS_Store