package main

import (
	"context"
	"os"

	"{{ .ModuleName }}/internal"
	"piko.sh/piko/wdk/logger"
)

func main() {
	logger.AddPrettyOutput() // Uses LOG_LEVEL env var, defaults to INFO

	mode := internal.GenerateModeManifest
	if len(os.Args) > 1 {
		mode = os.Args[1]
	}

	ssr := internal.NewGenerator()
	if err := ssr.Generate(context.Background(), mode); err != nil {
		panic(err)
	}
}
