module {{ .ModuleName }}

go 1.26.0

require (
	piko.sh/piko {{ .PikoVersion }}
	piko.sh/piko/wdk/browser {{ .PikoVersion }}
{{- if .EnableSonicJSON }}
	piko.sh/piko/wdk/json/json_provider_sonic {{ .PikoVersion }}
{{- end }}
	piko.sh/piko/wdk/media/image_provider_imaging {{ .PikoVersion }}
	piko.sh/piko/wdk/system/system_memlimit_automemlimit {{ .PikoVersion }}
{{- if .EnableInterpreted }}
	piko.sh/piko/wdk/interp/interp_provider_piko {{ .PikoVersion }}
{{- end }}
{{- if .EnableValidator }}
	piko.sh/piko/wdk/validation/validation_provider_playground {{ .PikoVersion }}
{{- end }}
)
