package main

import (
	"os"

	"{{ .ModuleName }}/internal"
	"piko.sh/piko/wdk/logger"

{{- if .EnableInterpreted }}
	"{{ .ModuleName }}/internal/interpreted"
{{- end }}
	_ "{{ .ModuleName }}/dist"
)

func main() {
	logger.AddPrettyOutput() // Uses LOG_LEVEL env var, defaults to INFO

	command := internal.RunModeDev
	if len(os.Args) > 1 {
		command = os.Args[1]
	}

	ssr := internal.NewServer(command)

{{- if .EnableInterpreted }}

	// You can optionally define your symbols for interpreted mode.
	// This is required for interpreted mode.
	ssr.WithSymbols(&interpreted.Symbols)
{{- end }}

	// You can add your own chi middleware and routes here.
	// ssr.AppRouter.Use(...)
	// ssr.AppRouter.Get(...)

	if err := ssr.Run(command); err != nil {
		panic(err)
	}
}
